*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
};
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.container{
    max-width: 100%;
    min-width: 320px;
    @media (max-width: 480px){
        overflow: hidden;
    }
}
.logo{
    height: 100vh;
    width: auto;
    background: url(/img/fabian-grohs-dC6Pb2JdAqs-unsplash.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.logo::before {
    content:"";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left, rgba(153, 0, 255, 0.40),rgba(0, 51, 153, 0.60) );
    z-index: 0;
}

@media (max-width: 480px){
    #menu__toggle {
        opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .nav {
        visibility: visible;
        right:-2%;
        transition: ease 1s;
    }
    
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        top: 2px;
        left: 20px;
        
        width: 26px;
        height: 26px;
        
        cursor: pointer;
        z-index: 4;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
    
        width: 100%;
        height: 2px;
    
        background-color: #ffffff;
    
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
}
    .name{
        display: grid;
        grid-template-areas: 
        "h1_1 h1_2"
        "h2 h2" ;
        grid-template-rows: 2fr;
        grid-template-columns: 16rem 16rem;
        grid-gap: 1rem;
        z-index: 2;
        color: white;
        position: relative;
        top: 14rem;
        left: 6rem;
        font-size: 2rem;
        width: max-content;
        font-family: 'Montserrat', sans-serif;    
        #h1_1{
            grid-area: h1_1;
            font-size: 2em;
        }
        #h1_2{
            font-size: 2em;
            grid-area: h1_2;
            color: rgb(255, 35, 35);
        }
        #front{
            grid-area: h2;
        }
        @media (max-width: 480px){
            font-size: 1.5rem;
            grid-template-columns: max-content;
            left: 1rem;
            top: 15rem;
        }
    }

.nav{
    width: 50%;
    height: 3rem;
    margin: auto;
    margin-right: 0.5rem;
    font-size: 1.7rem;;
    position: relative;
    top: 4rem;
    z-index: 1;
    transition: ease 1s;
    @media (max-width: 480px){
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: rgba(137, 43, 226, 0.705);
        z-index:3;
        top: 0;
        right: -102%;
        font-size: 3rem;
        }
}
ul{
   display: flex;
   justify-content: space-around; 
   height: 100%;
   align-items: center;
   @media (max-width: 480px){
    flex-direction: column;
    justify-content:center;
   }
   & li{
       list-style: none;
      a{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        cursor: pointer;
      }
      @media (max-width: 480px){
          width: max-content;
          margin-bottom: 6rem;
      }
   }
   & > li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background: white;
    transition: all ease .5s;
    }
    & > li:hover::after {
    width: 100%;
    }                
}
    .up{
        background-color: rgba(149, 17, 167, 0.562);
        position: fixed;
        opacity: 0;
        bottom: 5rem;
        height: 5rem;
        border-radius: 40px;
        right: 3rem;
        z-index: 1;
        transition: ease-in-out 0.5s;
        @media (max-width: 480px){
            height: 4rem;
            right: 1rem;
            bottom: 2rem;
        }
    }
    .op{
        opacity: 1;
        transition: ease-in-out 1s;
    }
    
.about{
    height: 100vh;
    background-color: rgb(139, 114, 165);
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "h1 about"
    "photo about"
    ". about";
    grid-template-columns: 29rem minmax(350px, 2fr);
    grid-template-rows:[h1] 150px [photo]350px;
    @media (max-width: 480px){
        height: 100vh;
        grid-template-areas: 
        "h1"
        "photo"
        "about";
        grid-template-rows:[h1] 110px [photo]12rem [about]426px ;
    }
    & .aboutme{
        grid-area: h1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 480px){
            justify-content: center;
        }
        & h1{
            margin-top: 1rem;
            margin-left: 2rem;
            width: max-content;
            font-size: 5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: min($numbers: 1);
            color: white;
            & > span{
                color: rgb(255, 35, 35);
            }
            @media (max-width: 480px){
                font-size:3rem ;
            }
        }
    }
    & .photo{
        display: flex;
        grid-area: photo;
        justify-content: center;
        align-items: center;
        margin-left: -6rem;
        @media (max-width: 480px){
            justify-content: center;
        }
        & .img{
            margin-left: 6rem;
            height: 20rem;
            width: 20rem;
            border: rgb(255, 255, 255) solid;
            border-radius: 165px;
            background: url(/img/indaewfex.png), center, no-repeat;
            background-size: cover;
            z-index: 1;
            @media (max-width: 480px){
                height: 12rem;
                width: 12rem;

            }
        }
    }
    .aboutskills{
        margin-top: 10rem;
        margin-right:2rem;
        margin-left: 5rem;
        height: 33rem;
        max-width: 50rem;
        justify-content: center;
        background-color: #714d97;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        grid-area: about;
        @media (max-width: 480px){
            margin-top: 0rem;
            margin-right: 0;
            height: max-content;
            border-left: none;
            border-right: none;
            border-radius: 0px;
            background:none;
            border: none;
        }
            & .info{
                margin-left: 1rem;
                margin-top: 2rem;
                justify-content: start;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                width: 45rem;
                color: rgb(255, 255, 255);
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                @media (max-width: 480px){
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    width: 100%;
                    padding: 0.2rem;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                    height: max-content;
                }
                &>span{
                    font-size: 1.9rem;  
                    @media (max-width: 480px){
                        font-size: 1.1rem;
                    }
                }
            }
        
        &>.skillswrapper{
            margin-top: 1rem;
            grid-area: about;
            display: flex;
            justify-content: end;
            justify-self: start;
            height: max-content;
            @media (max-width: 480px){
                margin-top: 0;
                width: 100%;
                
            }
            &>.skills {
                margin-bottom: 3rem;
                border-radius: 5px;
                width: max-content;
                max-height: 300px;
                background: #603190;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;
                justify-items: center;
                align-items: center;
                border: solid 2px white;
                padding: 1rem;
                @media (max-width: 480px){
                    border-radius: 0px;
                    background: none;
                    gap: 5px;
                    height: max-content;
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 10px 0px 10px 0px ;
                }
                & div{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    border-radius: 10px;
                    background:  rgb(255, 255, 255);
                    color: rgb(150, 62, 138);
                    width: max-content;
                    padding: 10px;
                    @media (max-width: 480px){
                        font-size: 0.9rem;
                        font-weight: 700;
                    }
                }
            }
        }    
    }
}
.projects{
    height: 100vh;
    background-color: rgb(255, 87, 87);
    &>h1{
        position: relative;
        top: 4rem;
        width: max-content;
        margin: auto;
        font-size: 4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: min($numbers: 1);
        color: #ffffff;
        @media (max-width: 480px){
            top: 3rem;
        }
    }
    .projects_wraper{
        display: flex;
        position: relative;
        justify-content: space-around;
        top: 10rem;
        left: 10rem;    
        border: rgb(255, 255, 255) solid 2px;
        border-radius: 5px;
        height: max-content;
        width: 75%;
        padding: 2rem;
        @media (max-width: 480px){
            top: 6rem;
            left: 0;
            border: none;
            width:auto ;
            height: max-content;
        }
        &>#toDo{
            height: max-content;
            width: max-content;
            margin: 1rem;
            & .ToDo{
                width: 13rem;
                height: 13rem;
                transition: ease-in-out 0.2s;
            }
            & .ToDo:hover{
                width: 18rem;
                height: 18rem;
                transition: ease-in-out 0.2s;
                
            }
        }
        &>#lister{
            height: max-content;
            width: max-content;
            margin: 1rem;
            & .Lister{
                width: 13rem;
                height: 13rem;
                transition: ease-in-out 0.2s;
            }
            & .Lister:hover{
                width: 18rem;
                height: 18rem;
                transition: ease-in-out 0.2s;
            }
        }
    }
}
.contacts{
    height: 100vh;
    border: 2px solid white;
    background: rgb(139, 114, 165); 
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 480px){
        height: 110vh;
        border: none;
    }
    .contacts1{
        height: 50%;
        width: 100%;
        background-color: rgb(255, 99, 71);
        border-bottom:2px solid rgb(255, 255, 255);
        position: relative;
        overflow: hidden;
        @media (max-width: 480px){
            height: 60%;
            border-top: 2px solid rgb(255, 255, 255);
        }
        &>h1{
            width: max-content;
            position: relative;
            top: 2rem;
            margin: auto;
            color: rgb(255, 255, 255);
        }
        &>p{
            display: flex;
            justify-content: center;
            position: relative;
            width: 45%;
            margin: auto;
            top: 4rem;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4rem;
            @media (max-width: 480px){
                width: 80%;
            }
        }
        &>.button1{
            text-decoration: none;
            outline: none;
            display: inline-block;
            padding: 10px 30px;
            margin-left: 35rem;
            position: relative;
            top: 13rem;
            height: 4rem;
            width: 7rem;
            overflow: hidden;
            border: 2px solid #ffffff;
            font-family: 'Montserrat', sans-serif; 
            font-weight: bold;
            font-size: 1.5rem;
            color: #ffa200;
            transition: .2s ease-in-out;
            @media (max-width: 480px){
                margin-left: 8rem;
                top: 15rem;
            }
          }
          .button1:hover {
            border: 2px solid #ffb733;
            background: #ffb733;
            color: #fff;
          }
          .button1:active {
            border-top:2px solid grey;
            border-left:2px solid grey ;
            border-right:2px solid rgb(255, 255, 255);
            border-bottom:2px solid rgb(255, 255, 255);
          }
          &>.cat{
            width: 10rem;
            position: absolute;
            top: 8rem;
            left:-10rem;
            @media (max-width: 480px){
                top: 13rem;
            }
          }
         
    }
    &>.contacts2{
        border-right: 2px solid white;
        height: 50%;
        background-color: rgba(255, 165, 0, 0.8);
        width: 40%;
        @media (max-width: 480px){
            height: 33%;
            border-top: 2px solid rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
        }
        &>h2{
            color: white;
            position: relative;
            top: 4rem;
            left: 3rem;
            @media (max-width: 480px){
                font-size: 1.2rem;
                left: 1rem;
                top: 2rem;
            }
        }
        &>p{
            color: white;
            position: relative;
            top: 7rem;
            left: 4rem;
            font-size: 1.5rem;
            @media (max-width: 480px){
                font-size: 0.9rem;
                left: 1rem;
                top: 4rem;
            }
        }
        &>.telega{
            position: relative;
            margin-left: 4rem;
            top: 9rem;
            @media (max-width: 480px){
                margin-left: 1.5rem;
                top: 6rem;
            }
            &>img{
                height: 32px;
                width: 32px;
            }
        }
        &>.linkedin{
           position: relative;
           top: 9rem;
           margin-left: 10px;
           @media (max-width: 480px){
               top: 6rem;
           }
        }
    }
    &>.form{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 50%;
        width: 59%;
        @media (max-width: 480px){
            height: 29.5%;
        }
        &>#my-form{
            margin-left:2rem ;
            margin-top: 2.5rem;
            width: min-content;
            @media (max-width: 480px){
                margin-top: 0.5rem;
                margin-left: 1rem;
            }
            & .mail{
                margin-top: 1rem;
                padding: 1rem;
                height: 2rem;
                width: 31rem;
                background:rgba(255, 255, 255, 0.25);
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-size: 1rem;
                color: rgb(255, 255, 255);
                @media (max-width: 480px){
                    margin-top: 0;
                    height: 0.7rem;
                    width: 9rem;
                    font-size: 1rem;
                }
            }
            .mail::placeholder{
                font-size: 1.2rem;
                font-family: 'Montserrat', sans-serif;
                color: rgb(255, 255, 255);
                @media (max-width: 480px){
                    font-size: 1rem;
                }
            }
            & .message{
                box-sizing: border-box;
                resize: none;
                padding: 1rem;
                margin-top: 1rem;
                height: 7rem;
                width: 31rem;
                background:rgba(255, 255, 255, 0.25);
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.1rem;
                color: rgb(255, 255, 255);
                @media (max-width: 480px){
                    height: 4rem;
                    width: 12rem;
                }
            }
            .message::placeholder{
                text-align: start;
                margin-bottom: 2rem;
                font-size: 1.3rem;
                font-family: 'Montserrat', sans-serif;
                color: rgb(255, 255, 255);
                @media (max-width: 480px){
                    font-size: 1rem;
                }
            }
            & button{
                text-decoration: none;
                outline: none;
                display: inline-block;
                padding: 10px 30px;
                margin: 10px 20px;
                position: relative;
                left: -21px;
                top: 1rem;
                height: 4rem;
                width: 10rem;
                overflow: hidden;
                border: 2px solid #ffffff;
                font-family: 'Montserrat', sans-serif; 
                font-weight: bold;
                font-size: 1rem;
                color: #ff6347;
                transition: .2s ease-in-out;
                background-color: #ffffff;
                box-shadow: rgba(255, 255, 255, 0.25);
            }
            button:hover {
                background: #ff6347;
                color: #fff;
                border:2px solid #ff6347 ;
            }
            button:active{
                border-top:2px solid grey;
                border-left:2px solid grey ;
                border-right:2px solid rgb(255, 255, 255);
                border-bottom:2px solid rgb(255, 255, 255);
                
            }
        }
    }
}